
.content {
    background-color: rgb(244, 209, 149);
    color:rgb(9, 130, 205);

}

.info, li {
    font-family: "Tahoma", Arial, sans-serif;
}

.links {
    margin: 20px;
    display: inline-block;

}

.link_colour {
    font-size: 25px;
    color: rgb(255, 255, 255); 
}

.info {
    font-size: 18px;
    font-weight: 100px;
    
}

li {
    font-size: 17px;
}